<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="container">
        <p class="para-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illo impedit, aliquid
            corrupti esse est a sed
            sequi praesentium cum, ut id eligendi vitae qui numquam, illum recusandae aut doloremque. Nam laoreet urna
            magna, vitae semper leo interdum sed. Morbi ac consequat risus, nec condimentum metus. Nullam viverra et
            lacus eu ornare. Mauris aliquam nibh.</p>
        <p class="para-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic illo impedit, aliquid
            corrupti esse est a sed
            sequi praesentium cum, ut id eligendi vitae qui numquam, illum recusandae aut doloremque.</p>
        <div class="logo-container">
            <img src="/img/weatherLogo.png" alt="Weather Logo" class="about-logo">
        </div>
    </div>
    {{>footer}}
</body>

</html>