<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{> header }}
    <div class="container">
        <p class="para-text">Suspendisse facilisis erat a sollicitudin tristique. Aliquam non felis ac est ornare
            pharetra. Aenean in
            condimentum augue. Cras eu ligula pulvinar, varius massa vel, posuere ex. Pellentesque est ligula, laoreet
            condimentum sodales cursus, feugiat in libero. Nunc a tempor metus. Maecenas vestibulum facilisis orci at
            molestie. Donec fringilla, orci ut vestibulum eleifend, eros felis porta nulla, ut dictum nunc felis nec
            metus. Aenean non elit elit</p>

        <h2>{{ subtitle }}</h2>

        <div class="faq-container">
            <h3 class="faq-qn">Is the Weather Forecast app free?</h3>
            <p class="para-text">Yes the Weather Forecast app is free to download from both the App Store and
                Google Play Store.
                Nulla tempus aliquam porta. Vestibulum et ipsum eu neque luctus euismod. In tincidunt sem vitae urna
                feugiat, sit amet laoreet risus convallis. Morbi et ipsum mattis.</p>

            <h3 class="faq-qn">How do I share the forecast?</h3>
            <p class="para-text">Nullam ullamcorper dui quis lorem pulvinar, quis blandit leo pharetra. Mauris eget
                malesuada eros, vel lacinia dui. Praesent eu neque eget lectus porta dignissim non eget ipsum. Nulla
                tempus
                aliquam porta. Vestibulum et ipsum eu neque luctus euismod. In tincidunt sem vitae urna feugiat, sit
                amet
                laoreet risus convallis. Morbi et ipsum mattis </p>
            <h3 class="faq-qn">How do I view a more detailed breakdown of the weather for a particular day?</h3>
            <p class="para-text">Nullam ullamcorper dui quis lorem pulvinar, quis blandit leo pharetra. Mauris eget
                malesuada eros, vel lacinia dui. Praesent eu neque eget lectus porta dignissim non eget ipsum. Nulla
                tempus
                aliquam porta. Vestibulum et ipsum eu neque luctus euismod. In tincidunt sem vitae urna feugiat, sit
                amet
                laoreet risus convallis. Morbi et ipsum mattis </p>
            <h3 class="faq-qn">How do I support the app?</h3>
            <p class="para-text">Nullam ullamcorper dui quis lorem pulvinar, quis blandit leo pharetra. Mauris eget
                malesuada eros, vel lacinia dui. Praesent eu neque eget lectus porta dignissim non eget ipsum. Nulla
                tempus
                aliquam porta. Vestibulum et ipsum eu neque luctus euismod. In tincidunt sem vitae urna feugiat, sit
                amet
                laoreet risus convallis. Morbi et ipsum mattis </p>
        </div>

    </div>
    {{>footer}}
</body>

</html>