* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Partial styling */
h1 {
  margin: 3% 0 15px 10%;
  color: rgb(231, 90, 90);
}

/* Navbar styling */
nav {
  height: 10vh;
  background: coral;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

nav li a {
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* Finishing navbar styling */

.copyright {
  background: rgb(214, 203, 203);
  padding: 10px;
  color: #000;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  margin-left: 10%;
  height: 70vh;
  width: 80%;
}

/* Home */
.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
}

form {
  display: flex;
  flex-direction: column;
}

.search-city {
  color: rgb(180, 100, 70);
  font-size: larger;
  font-weight: 500;
}

.search-input {
  margin: 20px 10px 5% 0;
  padding: 10px;
  border-radius: 20px;
  min-width: 70%;
  outline: none;
}

.submit-btn {
  background: linear-gradient(45deg, #ee9ca7, #ffdde1);
  color: black;
  outline: none;
  border-color: coral;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 60%;
  text-transform: uppercase;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#location {
  margin-top: 5%;
}

#weather {
  margin-top: 5%;
  line-height: 2rem;
}

.error {
  color: red;
}

.success {
  color: rgb(214, 37, 132);
  font-weight: bold;
  font-size: larger;
}

.svg-item {
  height: 95%;
  width: 95%;
  align-self: center;
  background: url("/img/RainMan.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* About */
.para-text {
  line-height: 25px;
  margin-bottom: 1%;
}

.last-para {
  padding-bottom: 5rem;
}

.logo-container {
  padding-bottom: 20%;
}

.about-logo {
  margin: auto;
  width: 200px;
}

/* Help Page */

h2 {
  margin: 3% 0 15px 0;
  color: rgb(231, 90, 90);
}

.faq-container {
  padding-bottom: 5%;
}

.faq-qn {
  margin: 1% 0;
}
